@font-face {
  font-family:'Noto Sans';
  src: url("./fonts/NotoSans-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family:'Noto Sans';
  src: url("./fonts/NotoSans-Bold.ttf");
  font-weight: bold;
}

@font-face { 
  font-family:'Noto Sans Bitalic';
  src: url("./fonts/NotoSans-BoldItalic.ttf");
  font-weight: bold;
}

@font-face {
  font-family:'Noto Sans Bitalic';
  src: url("./fonts/NotoSans-Italic.ttf");
  font-weight: normal;
}
body {
  min-height: 100vh;
  background-color:rgb(73, 4, 138);
  
}
h1 {
  font-family: Noto Sans, Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.2;
  color: black;
  text-align: center;
  background-color: lightblue;
  margin-top: 0px;
  padding-top: 0px;
  position: sticky;
  top: 0px;
}
h2 {
  font-family: Noto Sans, Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
tr {
  font-family: 'Noto Sans', Arial, Helvetica, sans-serif; 
}
#table1 {
  width: 50%;
  background-color: rgba(204, 204, 255, 0.5);
  backdrop-filter: blur(7px);
  box-shadow: 0 .4rem .8rem #0005;
  border-radius: .8rem;
  border-collapse: collapse;
}
#table2 {
  width: 50%;
  background-color: rgba(204, 204, 255, 0.5);
  backdrop-filter: blur(7px);
  box-shadow: 0 .4rem .8rem #0005;
  border-radius: .8rem;
  border-collapse: collapse;
}
#table3 {
  width: 50%;
  background-color: rgba(204, 204, 255, 0.5);
  backdrop-filter: blur(7px);
  box-shadow: 0 .4rem .8rem #0005;
  border-radius: .8rem;
  border-collapse: collapse;
}
thead th {
  top: 0;
  left: 0;
}
td {
  line-height: 30px;
  text-align: center;
}
#table1 {
  position: center;
}
td {
  background-color: rgba(204, 204, 255, 0.6);  
}
#edit0 {
  border-bottom-left-radius: 0.8rem !important;
}
#edit3 {
  
  border-bottom-left-radius: 0.8rem !important;
}
#edit5 {
  border-bottom-left-radius: 0.8rem !important;
}

#edit2 {
  border-bottom-right-radius: 0.8rem !important;
}
#edit4 {
  border-bottom-right-radius: 0.8rem !important;
}
#edit6 {
  border-bottom-right-radius: 0.8rem !important;
}
table {
  margin: 0 auto;
  border-collapse: separate;
  width: 100%;
  border-spacing: auto;
  
}

.d0 {
  background-color: rgba(138, 43, 226, 0.8);
  
}
.d1 {
  background-color: rgba(138, 43, 226, 0.8);
  
}
.d2 {
  background-color: rgba(138, 43, 226, 0.8);
}

.d3 {
  background-color: rgba(138, 43, 226, 0.8);
}

.d4 {
  background-color: rgba(138, 43, 226, 0.8);
}

.d5 {
  background-color: rgba(138, 43, 226, 0.8);
}

.d6 {
  background-color: rgba(138, 43, 226, 0.8);
}

.d7 {
  background-color: rgba(138, 43, 226, 0.8);
}

.d8 {
  background-color: rgba(138, 43, 226, 0.8);
}

.d9 {
  background-color: rgba(138, 43, 226, 0.8);
}
  
.d10 {
  background-color: rgba(138, 43, 226, 0.8);
}

.d11 {
  background-color: rgba(138, 43, 226, 0.8);
}

.d12 {
  background-color: rgba(138, 43, 226, 0.8);
}

.d13 {
  background-color: rgba(138, 43, 226, 0.8);
}

.d14 {
  background-color: rgba(138, 43, 226, 0.8);
}

.d15 {
  background-color: rgba(138, 43, 226, 0.8);
}

.d16 {
  background-color: rgba(138, 43, 226, 0.8);
}

.d17 {
  background-color: rgba(138, 43, 226, 0.8);
}

.d18 {
  background-color: rgba(138, 43, 226, 0.8);
}

.d19 {
  background-color: rgba(138, 43, 226, 0.8);
}

.d20 {
  background-color: rgba(138, 43, 226, 0.8);
}

.d21 {
  background-color: rgba(138, 43, 226, 0.8);
}

.d22 {
  background-color: rgba(138, 43, 226, 0.8);
}

.d23 {
  background-color: rgba(138, 43, 226, 0.8);
}

.d24 {
  background-color: rgba(138, 43, 226, 0.8);
}

.d25 {
  background-color: rgba(138, 43, 226, 0.8);
}
.name {
  font-family: 'Noto Sans Bitalic', sans-serif;
  text-transform: capitalize;
}
